<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head>
		<title>
			Senpai -
			{% block title_block %}
			{% endblock %}
		</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/base_css.css' %}"/>
		{% block header_block %}
		{% endblock %}
	</head>
	<body>
		<div class="background"></div>
		<div class="navigation frame">
			<img class="navigation logo" src="{% static 'img/logo.webp' %}"  alt="navigation logo">
			{% block navigation %}
			{% endblock %}
		</div>
		<div class="body_block">
			{% block body_block %}
			{% endblock %}
		</div>
		<div class="user_icon">
        <ul>
			{% if user.is_authenticated %}
				<li><a href="{% url 'senpai:restricted' %}">Restricted Page</a></li>
				<li><a href="{% url 'senpai:logout' %}">Logout</a></li>
			{% else %}
				<li><a href="{% url 'senpai:register' %}">Sign Up</a></li>
				<li><a href="{% url 'senpai:login' %}">Login</a></li>
			{% endif %}
			<li><a href="{% url 'senpai:home' %}">Home</a></li>
        </ul>
		</div>
	</body>
</html>