{% extends 'senpai/base.html' %}
{% load staticfiles %}

{% block header_block %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/base_mf_css.css' %}"/>
	{% block header_block_mf %}
	{% endblock %}
{% endblock %}
{% block navigation %}
	{% block navigation_mf %}
	{% endblock %}
    {% if is_admin is True %}
        <a class="navigation component modulemanage" href="{% url 'senpai:moduleManage' %}">Module Manage</a>
        <a class="navigation component genAdminKey" href="{% url 'senpai:genAdminKey' %}">Generate AdminKey</a>
    {% endif %}
	<a class="navigation component userprofile" href="{% url 'senpai:mynote' %}"></a>
{% endblock %}