<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head>
		<title>
			Senpai -
			{% block title_block %}
			{% endblock %}
		</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/base_css.css' %}"/>
		{% block header_block %}
		{% endblock %}
	</head>
	<body>
		<div class="background"></div>
		<div class="navigation frame">
			<a class="navigation component homepage" href="{% url 'senpai:home' %}"></a>
			
			{% block navigation %}
			{% endblock %}
		</div>
		<div class="content frame">
			{% block body_block %}
			{% endblock %}
		</div>
		<div id="copyright">Copyright &copy; 2022 Senpai. Maybe All Rights Reserved.</div>
	</body>
</html>