{% extends 'senpai/base_log.html' %}
{% load staticfiles %}

{% block title_block %}
	Login & Register
{% endblock %}
{% block body_block %}
	<h1>Login to Senpai</h1>
	<form id="login_form" method="post" action="{% url 'senpai:login' %}">
		{% csrf_token %}
		Username: <input type="text" name="username" value="" size="50" />
		<br />
		Password: <input type="password" name="password" value="" size="50" />
		<br />
		<input type="submit" value="submit" />
	</form>
    <br />
    <h1>Register for Senpai</h1>
	{% if registered %}
		Senpai says: <strong>thank you for registering!</strong>
		<a href="{% url 'senpai:home' %}">Return to the homepage.</a><br />
	{% else %}
		Senpai says: <strong>register here!</strong><br />
		<form id="user_form" method="post" action="{% url 'senpai:register' %}"
			enctype="multipart/form-data">

			{% csrf_token %}

			<!-- Display each form -->
			{{ user_form.as_p }}
			{{ profile_form.as_p }}

			<!-- Provide a button to click to submit the form. -->
			<input type="submit" name="submit" value="Register" />
		</form>
	{% endif %}

{% endblock %}
