{% load senpai_template_tags %} 
{% if comments %}
	<ul class="content commentarea comments"> 
		{% for comment in comments %} 
			<li class="content commentarea comment">{{ comment.content }} 
				<ul class="content commentarea info"><li>
					Auth:
					{% if comment.user|get_username == user.username %}
						Me
					{% else %}
						{{ comment.user|get_username }}
					{% endif %}
					 Date:{{comment.date}}
				</li></ul>
			</li>
		{% endfor %}
	</ul> 
{% else %}
	<strong>This note has no comment yet.</strong> 
{% endif %}
<br>