{% load senpai_template_tags %} 
{% if comments %}
	<ul class="comments"> 
		{% for comment in comments %} 
			<li class="comment">
				<p class="commentcreator">
				{% if comment.user|get_username == user.username %}
					Me
				{% else %}
					{{ comment.user|get_username }}
				{% endif %}
				</p>
				<p class="commentdate">{{comment.date}}</p>
				<p class="commenttext">{{ comment.content }}</p>
			</li>
		{% endfor %}
	</ul> 
{% else %}
	<h4>You can add first comment for this note!</h4> 
{% endif %}
<br>