{% load senpai_template_tags %} 

{% if is_search_result %}
	{% if search_results %}
	<div class="content search_result section">
		<h3>Search results</h3>
		<ul class="search_result modules"> 
			{% for search_result in search_results %} 
				<li class="search_result module">
					<div class="search_result module">
						<a class="search_result component module" href="{% url 'senpai:show_module' search_result.slug %}">
							<h4>{{ search_result.name }}</h4>
						</a>
						{% for note in search_dict|get_dict_item:search_result.name %}
						<a class="search_result component note" href="{% url 'senpai:show_note' note.id %}">
							<h5>{{ note.title }}</h5>
						</a>
						{% endfor %}
					</div>
				</li>
			{% endfor %} 
		</ul> 
	</div>
	{% else %}
	<h3>There is no search result.</h3> 
	{% endif %}
	<br>
{% else %}
	{% if my_modules %}
	<div class="content my_modules section"> 
		<h3>My Modules</h3>
		<ul class="my_modules modules"> 
			{% for my_module in my_modules %} 
				<li class="my_modules module">
					<div class="my_modules module">
						<a class="my_modules component module" href="{% url 'senpai:show_module' my_module.slug %}">
							<h4>{{ my_module.name }}</h4>
						</a>
						{% for note in my_modules_dict|get_dict_item:my_module.name %}
						<a class="my_modules component note" href="{% url 'senpai:show_note' note.id %}">
							<h5>{{ note.title }}</h5>
						</a>
						{% endfor %}
					</div>
				</li>
			{% endfor %} 
		</ul>
	</div>
	{% else %} 
	<h3>You haven't selected any module.</h3> 
	{% endif %}
	<hr>
	{% if other_modules %}
	<div class="content other_modules section">
		<h3>Other Modules</h3>
		<ul class="other_modules modules"> 
			{% for other_module in other_modules %} 
				<li class="other_modules module">
					<div class="other_modules module">
					<a class="other_modules component module" href="{% url 'senpai:show_module' other_module.slug %}">
						<h4>{{ other_module.name }}</h4>
					</a>
					{% for note in other_modules_dict|get_dict_item:other_module.name %}
					<a class="other_modules component note" href="{% url 'senpai:show_note' note.id %}">
						<h5>{{ note.title }}</h5>
					</a>
					{% endfor %}
					</div>
				</li>
			{% endfor %} 
		</ul>
	</div>
	{% endif %}
	<br>
{% endif %}	