{% extends 'senpai/base.html' %}
{% load staticfiles %}
{% load senpai_template_tags %} 

{% block title_block %}
	Home
{% endblock %}
{% block header_block %}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			crossorigin="anonymous"></script>
	<script src="{% static 'js/home_page.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home_css.css' %}"/>
{% endblock %}
{% block navigation %}
	<div class="navigation component search">
		<input class="navigation input search" type="search" id="search-input" placeholder="Search For Modules..." />
	</div>
	
	<a class="navigation component userprofile" href="{% url 'senpai:mynote' %}"></a>
{% endblock %}
{% block body_block %}
	<h2 class="content header">{{ user.username }}'s Homepage</h2>
	<div class="content links">
		{% get_home_modules user %}
	</div>
{% endblock %}