{% extends 'senpai/base.html' %}
{% load staticfiles %}
{% load senpai_template_tags %} 

{% block title_block %}
	Home
{% endblock %}
{% block header_block %}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			crossorigin="anonymous"></script>
	<script src="{% static 'js/home_page.js' %}"></script>
{% endblock %}
{% block body_block %}
	<div class="top_links">
		<a href="{% url 'senpai:home' %}">Home Page</a>
		<a href="{% url 'senpai:mynote' %}">UserProfile</a>
		<a href="{% url 'senpai:logout' %}">Log out</a>
	</div>
	<h2 class="home_header">{{ user.username }}'s Homepage</h2>
	<input type="search"
			id="search-input"
			placeholder="Search for module..." />
	<div class="home_modules">
		{% get_home_modules user %}
	</div>
{% endblock %}