{% extends 'senpai/base.html' %}
{% load staticfiles %}

{% block title_block %}
    <title>Module Management</title>
     <div>
         <ul>
             <li>
                 <a href="{% url 'senpai:moduleManage' %}">Welcome，Administer</a>
             </li>
         </ul>
     </div>
{% endblock %}
{% block body_block %}
    <h3>Module Management</h3>

    <div class="row">

        <table class="table">
            <thead>
            <tr>
                <th style="width: 20%;">Number</th>
                <th>Module Name</th>
                <th style="width: 25%;text-align: right;"></th>
            </tr>
            </thead>
            <tbody>
            {% for module in modules %}
                <tr>
                    <td>{{ module.id }}</td>
                    <td>{{ module.name }}</td>
                    <td>
                        <a onclick="javascript:return confirm('Do you want to delete？')" href="/senpai/delModule?id={{ module.id }}">delete</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
<br/>
    <div>
                    <form id="module_form" method="post" action="{% url 'senpai:addModule' %}">
                            {% csrf_token %}
                        <span>add module</span>
                            {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                            {% endfor %}

                        {% for field in form.visible_fields %}
                            {{ field.errors }}
                            {{ field.help_text }}
                            {{ field }}
                        {% endfor %}
                        <input type="submit" name="submit" value="Create module" />
                    </form>
    </div>

{% endblock %}
