{% extends 'senpai/base.html' %}
{% load senpai_template_tags %} 
{% load staticfiles %}

{% block title_block %}
	{{ module.name }}
{% endblock %}
{% block header_block %}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			crossorigin="anonymous"></script>
	<script src="{% static 'js/module_page.js' %}"></script>
{% endblock %}
{% block body_block %}
	<div class="top_links">
		<a href="{% url 'senpai:home' %}">Home Page</a>
		<a href="{% url 'senpai:mynote' %}">UserProfile</a>
		<a href="{% url 'senpai:logout' %}">Log out</a>
	</div>
	<h2 class="module_name">{{ module.name }}</h2>
	<button type="button" id="btn_sort_lik">Sort by Likes</button>
	<button type="button" id="btn_sort_cmt">Sort by Comments</button>
	<button type="button" id="btn_sort_new">Newest</button>
	<button type="button" id="btn_sort_old">Oldest</button>
	<div class="module_body">
		{% get_sorted_notes module %}
	</div>
	<div class="side_bar">
		<h2>Other modules(should be in side bar)</h2>
		{% for a_module in all_modules %} 
			<li><a href="{% url 'senpai:show_module' a_module.slug %}">{{ a_module.name }}</a>
		{% endfor %} 
	</div>
{% endblock %}