<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% load senpai_template_tags %}
<head>
    <title>Module Management</title>
</head>

<body>
<div id="main-wrapper">
    <header class="topbar">
        <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
            <div class="navbar-collapse">
                <ul class="navbar-nav my-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="{% url 'senpai:moduleManage' %}"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome，Administer</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-6 col-8 align-self-center">
                    <h3 class="text-themecolor m-b-0 m-t-0">Module Management</h3>
                </div>
            </div>
            <div class="row">
                <!-- column -->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-block">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th style="width: 20%;">Number</th>
                                        <th>Module Name</th>
                                        <th style="width: 25%;text-align: right;"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for module in modules %}
                                        <tr>
                                            <td>{{ module.id }}</td>
                                            <td>{{ module.name }}</td>
                                                <td>
                                                    <a onclick="javascript:return confirm('Do you want to delete？')" href="/senpai/delModule?id={{ module.id }}">delete</a>

                                                </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <br />
    <div>
                    <form id="module_form" method="post" action="{% url 'senpai:addModule' %}">
                            {% csrf_token %}
                        <span>add module</span>
                            {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                            {% endfor %}

                        {% for field in form.visible_fields %}
                            {{ field.errors }}
                            {{ field.help_text }}
                            {{ field }}
                        {% endfor %}
                        <input type="submit" name="submit" value="Create module" />
                    </form>
    </div>

</div>


<script src="/static/assets/plugins/jquery/jquery.min.js"></script>
<script src="/static/assets/plugins/bootstrap/js/tether.min.js"></script>
<script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.slimscroll.js"></script>
<script src="/static/js/waves.js"></script>
<script src="/static/js/sidebarmenu.js"></script>
<script src="/static/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
<script src="/static/js/custom.min.js"></script>
<script src="/static/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
</div>
</body>

</html>
