{% extends 'senpai/base.html' %}
{% load staticfiles %}
{% load senpai_template_tags %} 

{% block title_block %}
    <title>Module Management</title>
{% endblock %}
{% block body_block %}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			crossorigin="anonymous"></script>
	<script src="{% static 'js/module_manage.js' %}"></script>
    <h3>Module Management</h3>

    <div class="row">

        <table class="table">
            <tbody>
			<div class = "modulelist">
            {% get_all_module_list %}
			</div>
            </tbody>
        </table>
    </div>
<br/>
    <div>
			<div class="add_module_frame">
			<textarea class="add_module" id="txt_module" rows="4" cols="50" maxlength="300" placeholder="Input the name of Module..."></textarea><br>
			<button class="add_module" id="btn_add_module">add module</button>
			</div>
    </div>

    <a href="{% url 'senpai:generateAdminKey' %}">Generate adminKey</a>

{% endblock %}
