{% extends 'senpai/base_main_func.html' %}
{% load staticfiles %}
{% load senpai_template_tags %}

{% block title_block %}
	{{ module.name }}
{% endblock %}
{% block header_block_mf %}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			crossorigin="anonymous"></script>
	<script type="text/javascript" src="{% static 'js/scroll_plugin.js' %}"></script>
	<script src="{% static 'js/module_page.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/module_css.css' %}"/>
{% endblock %}
{% block navigation_mf %}
	<h2 class="navigation moduletitle">{{ module.name }}</h2>
{% endblock %}
{% block body_block %}
	<div class="upload">
		{% include 'senpai/module_upload_note.html' %}
	</div>
	{% if haventLiked %}
		<div type="button" class="like component" id="like">
			<p>Like</p>
		</div>
	{% endif %}
	<div type="button" class="sort component" id="sort">
		<p>Most Likes</p>
	</div>
	<div class="content noteframe">
		<!-- include notelist.html through get_sorted_notes -->
		{% get_sorted_notes module %}
	</div>
	<div class="moduleframe">
		{% for a_module in all_modules %} 
		<a class="module component" href="{% url 'senpai:show_module' a_module.slug %}">
			<h4 class="module">{{ a_module.name }}</h4>
		</a>
		{% endfor %} 
	</div>
{% endblock %}