{% extends 'senpai/base_user_func.html' %}
{% load staticfiles %}
{% load senpai_template_tags %} 

{% block title_block %}
	{{ user.username }} 's likes
{% endblock %}

{% block header_block_uf %}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			crossorigin="anonymous"></script>
	<script src="{% static 'js/mylike_page.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/scroll_plugin.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/mylike_css.css' %}"/>
{% endblock %}

{% block body_block %}
	{% if note %}
	<div class="likesframe">
		<ul class="likes">
			{% for n in note %}
			<li class="note">
				<a class="component note" href="{% url 'senpai:show_note' n.note.id %}">{{ n.note.title }}</a>
				<p class="notedate">{{ n.note.date }}</p>
				<p class="notedata">Comments:{{ comments|get_dict_item:n.note.id }} Likes:{{ n.note.likes }}</p>	
			</li>
			{% endfor %}
		</ul>
	</div>
	{% else %}
	<h3>You have no favourites yet.</h3>
	{% endif %}
{% endblock %}