{% extends 'senpai/base.html' %}
{% load staticfiles %}
{% load senpai_template_tags %} 

{% block title_block %}
	{% if user %}
		{{ user.username }} 's likes
	{% else %}
		Unknown User
	{% endif %}
{% endblock %}

{% block body_block %}
	<div class="top_links">
		<a href="{% url 'senpai:home' %}">Home Page</a>
		<a href="{% url 'senpai:logout' %}">Log out</a>
		<a href="{% url 'senpai:mynote' %}">My Notes</a>
		<a href="{% url 'senpai:mymodule' %}">My Modules</a>
	</div>
	<h1>{{ user.username }}'s likes</h1>
	{% if user %}
		{% if note %}
		<div class="user_liked_notes">
		<ul>
			{% for n in note %}
			<li><a href="{% url 'senpai:show_note' n.note.id %}">{{ n.note.title }}</a>
			</li>
			upload date:{{ n.note.date }}
			comments:{{ comments|get_dict_item:n.note.id }}
			likes:{{ n.note.likes }}
			{% endfor %}
		</ul>
		</div>
		{% else %}
			<strong>You have no liked notes.</strong>
		{% endif %}
		</div>
	{% else %}
		This user does not exist.
	{% endif %}
{% endblock %}