{% extends 'senpai/base.html' %}
{% load staticfiles %}
{% load senpai_template_tags %} 

{% block title_block %}
	{% if user %}
		{{ user.username }} 's likes
	{% else %}
		Unknown User
	{% endif %}
{% endblock %}

{% block body_block %}
	<div class="top_links">
		<a href="{% url 'senpai:home' %}">Home Page</a>
		<a href="{% url 'senpai:logout' %}">Log out</a>
		<a href="{% url 'senpai:mynote' %}">My Notes</a>
		<a href="{% url 'senpai:mymodule' %}">My Modules</a>
	</div>
	<h1>{{ user.username }}'s likes</h1>
	{% if user %}
		{% if note %}
		<div class="user_liked_notes">
		<ul>
			{% for n in note %}
			<li><a href="{% url 'senpai:show_note' n.note.id %}">{{ n.note.title }}</a>
			</li>
			<button id=like data-note = {{note.id}} >Like note</button>
			{% endfor %}
		</ul>
		</div>
		<div class="page_control">
			{% if page.1 %}
				{% if page_now != 1 %}
					<a href="{% url 'senpai:mylike' 1 %}">&lt&lt</a>
					<a href="{% url 'senpai:mylike' page_last %}">&lt</a>
				{% else %}
					&lt&lt 
					&lt
				{% endif %}
				{% for i in page %}
					{% if i == page_now %}
						{{i}}
					{% else %}
						<a href="/senpai/mylike/{{i}}/">{{ i }}</a>
					{% endif %}
				{% endfor %}
				{% if page_now != page|last %}
					<a href="{% url 'senpai:mylike' page_next %}">&gt</a>
					<a href="{% url 'senpai:mylike' page|last %}">&gt&gt</a>
				{% else %}
					&gt 
					&gt&gt
				{% endif %}
			{% endif %}
		{% else %}
			<strong>You have no liked notes.</strong>
		{% endif %}
		</div>
	{% else %}
		This user does not exist.
	{% endif %}
{% endblock %}