{% load senpai_template_tags %}

<div class = "user_modules">
{% if user_modules %}
	<h2>Added Modules</h2>
	{% for m in user_modules %}
		<li>
		<a href="{% url 'senpai:show_module' m.slug %}">{{ m.name }}</a>
		<button class="mymodule" data-modtype="delete" data-modid={{m.id}}>delete</button>
		</li>
	{% endfor %}
{% endif %}
</div>

<div class = "other_modules">
<h2>Avaliable Modules</h2>
{% for m in other_modules %}
	<li>
	<a href="{% url 'senpai:show_module' m.slug %}">{{ m.name }}</a>
	<button class="mymodule" data-modtype="select" data-modid={{m.id}}>select</button>
	</li>
{% endfor %}
</div>