{% load senpai_template_tags %}

<ul class = "user_modules">
{% if user_modules %}
	{% for m in user_modules %}
	<li class="module">
		<a class="component module" href="{% url 'senpai:show_module' m.slug %}">{{ m.name }}</a>
		<div class="remove module" type="button" data-modtype="delete" data-modid={{m.id}}></div>
	</li>
	{% endfor %}
{% endif %}
</ul>

<ul class = "other_modules">
	{% for m in other_modules %}
	<li class="module">
		<a class="component module" href="{% url 'senpai:show_module' m.slug %}">{{ m.name }}</a>
		<div class="add module" type="button" data-modtype="select" data-modid={{m.id}}></div>
	</li>
	{% endfor %}
</ul>