{% extends 'senpai/base_user_func.html' %}
{% load staticfiles %}
{% load senpai_template_tags %} 

{% block title_block %}
	{{ user.username }} 's module
{% endblock %}

{% block header_block_uf %}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			crossorigin="anonymous"></script>
			<script type="text/javascript" src="{% static 'js/scroll_plugin.js' %}"></script>
	<script src="{% static 'js/mymodule.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/mymodule_css.css' %}"/>
{% endblock %}

{% block navigation_block_uf %}
{% endblock %}

{% block body_block %}
<ul class = "user_modules">
	{% get_mymodule_usermodules user %}
</ul>
<ul class = "other_modules">
	{% get_mymodule_othermodules user %}
</ul>
{% endblock %}
	
		
				