{% extends 'senpai/base_main_func.html' %}
{% load staticfiles %}
{% load senpai_template_tags %} 

{% block title_block %}
	{% if user %}
		{{ user.username }} 's module
	{% else %}
		Unknown User
	{% endif %}
{% endblock %}

{% block header_block_mf %}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			crossorigin="anonymous"></script>
	<script src="{% static 'js/mymodule_mod.js' %}"></script>
{% endblock %}

{% block body_block %}
	<div class="top_links">
		<a href="{% url 'senpai:home' %}">Home Page</a>
		<a href="{% url 'senpai:logout' %}">Log out</a>
		<a href="{% url 'senpai:mynote' %}">My Notes</a>
		<a href="{% url 'senpai:mylike' %}">My Likes</a>
	</div>
	<h1>{{ user.username }}'s modules</h1>
	{% if user %}
		<div class = "modulelist">
		{% get_mymodule_modules user %}
		</div>
	{% endif %}
{% endblock %}
	
		
				