{% extends 'senpai/base_user_func.html' %}
{% load staticfiles %}
{% load senpai_template_tags %} 

{% block title_block %}
	{{ user.username }} 's notes
{% endblock %}

{% block header_block_uf %}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			crossorigin="anonymous"></script>
	<script src="{% static 'js/mynote_page.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/scroll_plugin.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/mynote_css.css' %}"/>
{% endblock %}
{% block navigation %}
	<h2 class="navigation usertitle">{{ user.username }}'s Notes</h2>
	<a class="navigation component mylike" href="{% url 'senpai:mylike' %}">My likes</a>
	<a class="navigation component mymodule" href="{% url 'senpai:mymodule' %}">My Modules</a>
	<a class="navigation component logout" href="{% url 'senpai:logout' %}"></a>
{% endblock %}

{% block body_block %}
	<div class="notesframe">
	{% get_mynote_notes user %}
	</div>
{% endblock %}
