{% load senpai_template_tags %} 
	{% if notes %}
	<ul class="notes">
		{% for n in notes %}
			<li class="note {{n.id}}">
				<a class="component note" href="{% url 'senpai:show_note' n.id %}">{{ n.title }}</a>
				<div class="delete_note" type="button" data-noteid={{n.id}}></div>
				<p class="notedate">{{ n.date }}</p>
				<p class="notedata">Comments:{{ comments|get_dict_item:n.id }} Likes:{{ n.likes }}</p>
			</li>
		{% endfor %}
	</ul>
	{% else %}
	<h3>You haven't shared any notes.</h3>
	{% endif %}
	<br>