{% extends 'senpai/base_main_func.html' %}
{% load staticfiles %}
{% load senpai_template_tags %} 

{% block title_block %}
	{% if user %}
		{{ user.username }} 's notes
	{% else %}
		Unknown User
	{% endif %}
{% endblock %}

{% block header_block_mf %}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			crossorigin="anonymous"></script>
	<script src="{% static 'js/my_note_delete.js' %}"></script>
{% endblock %}

{% block body_block %}
	<div class="top_links">
		<a href="{% url 'senpai:home' %}">Home Page</a>
		<a href="{% url 'senpai:logout' %}">Log out</a>
		<a href="{% url 'senpai:mylike' %}">My likes</a>
		<a href="{% url 'senpai:mymodule' %}">My Modules</a>
	</div>
	<h1>{{ user.username }}'s notes</h1>
	{% if user %}
		<div class="notelist">
			<!-- include notelist.html through get_sorted_notes -->
			{% get_mynote_notes user page_now %}
		</div>
		<div class="page_control">
			{% if page.1 %}
				{% if page_now != 1 %}
					<a href="{% url 'senpai:mynote' 1 %}">&lt&lt</a>
					<a href="{% url 'senpai:mynote' page_last %}">&lt</a>
				{% else %}
					&lt&lt 
					&lt
				{% endif %}
				{% for i in page %}
					{% if i == page_now %}
						{{i}}
					{% else %}
						<a href="/senpai/mynote/{{i}}/">{{ i }}</a>
					{% endif %}
				{% endfor %}
				{% if page_now != page|last %}
					<a href="{% url 'senpai:mynote' page_next %}">&gt</a>
					<a href="{% url 'senpai:mynote' page|last %}">&gt&gt</a>
				{% else %}
					&gt 
					&gt&gt
				{% endif %}
			{% endif %}
		</div>
	{% else %}
		This user does not exist.
	{% endif %}
{% endblock %}
