{% extends 'senpai/base_main_func.html' %}
{% load senpai_template_tags %} 
{% load staticfiles %}

{% block title_block %}
	{{ module.name }}-{{ note.title }}
{% endblock %}
	
{% block header_block_mf %}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			crossorigin="anonymous"></script>
	<script src="{% static 'js/note_page.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/scroll_plugin.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/note_css.css' %}"/>
{% endblock %}
{% block navigation_mf %}
	<h2 class="navigation component moduletitle"> <a href="{% url 'senpai:show_module' module.slug %}">{{ module.name }}</a></h2>
	<h2 class="navigation component notetitle">{{ note.title }}</h2>
{% endblock %}

{% block body_block %}
	<div class="content preview">
		<h2 class="content preview title">Note preview(should be on the left)</h2>
		<p class="content preview info">
			uploaded by: 
			{% if note.user|get_username == user.username %}
				Me
			{% else %}
				{{ note.user|get_username }}
			{% endif %}
			at {{note.date}}
		</p>
		<embed class="content preview note" src="{{ note.file.url }}" width="50%" height="512px"></iframe>
		<div class="content preview like_info">
			{% include "senpai/note_like_info.html" %}
		</div>
		<form class="content preview download" id="download_form" method="get" action="{% url 'senpai:show_note' note.id %}/download">
		<button type="submit">Download</button>
		</form>
	</div>

	<div class="content commentarea">
		<h2 class="content commentarea title">Comments(should be on the right)</h2>
		<!-- include commentlist.html through get_comments -->
		<div class="content commentarea commentpage">
			{% get_comments note user %}
		</div>
		<div class="content commentarea add_comment">
			<textarea id="txt_comment" rows="4" cols="50">add a comment...</textarea>
			<button type="button" id="btn_add_comment">Send</button>
		</div>
	</div>
{% endblock %}