{% extends 'senpai/base.html' %}
{% load senpai_template_tags %} 
{% load staticfiles %}

{% block title_block %}
	{{ module.name }}-{{ note.title }}
{% endblock %}
	
{% block header_block %}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			crossorigin="anonymous"></script>
	<script src="{% static 'js/note_page.js' %}"></script>
{% endblock %}

{% block body_block %}
	<div class="top_links">
		<a href="{% url 'senpai:home' %}">Home Page</a>
		<a href="{% url 'senpai:mynote' %}">UserProfile</a>
		<a href="{% url 'senpai:logout' %}">Log out</a>
	</div>
	<h2 class="note_header"> {{ module.name }}::{{ note.title }} </h2>
	<div class="note_preview">
		<h2>Note preview(should be on the left)</h2>
		<p>
			uploaded by: 
			{% if note.user|get_username == user.username %}
				Me
			{% else %}
				{{ note.user|get_username }}
			{% endif %}
			at {{note.date}}
		</p>
		<embed src="{{ note.file.url }}" width="50%" height="512px"></iframe>
	</div>
	<div class="note_like_info">
		{% include "senpai/note_like_info.html" %}
	</div>

	<h2>Comments(should be on the right)</h2>
	<div class="comments">
		{% get_comments note %}
	</div>
	<textarea id="txt_comment" rows="4" cols="50">add a comment...</textarea>
	<button type="button" id="btn_add_comment">Send</button>
{% endblock %}