{% extends 'senpai/base_main_func.html' %}
{% load senpai_template_tags %} 
{% load staticfiles %}

{% block title_block %}
	{{ module.name }}-{{ note.title }}
{% endblock %}
	
{% block header_block_mf %}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			crossorigin="anonymous"></script>
	<script src="{% static 'js/note_page.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/scroll_plugin.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/note_css.css' %}"/>
{% endblock %}
{% block navigation_mf %}
	<a class="navigation component moduletitle" href="{% url 'senpai:show_module' module.slug %}">
		<h2>{{ module.name }}</h2>
	</a>
	<h2 class="navigation notetitle">Note</h2>
{% endblock %}

{% block body_block %}
	<div class="content previewframe">
		<h3 class="content preview title">{{ note.title }}</h3>
		<p class="content previewcreator">
			Creator: 
			{% if note.user|get_username == user.username %}
				Me
			{% else %}
				{{ note.user|get_username }}
			{% endif %}
		</p>
		<p class="content previewdate">{{note.date}}</p>
		<div class="component previewpdf"><embed type="application/pdf" src="{{ note.file.url }}"></embed></div>
		<div class="component like">
			{% include "senpai/note_like_info.html" %}
		</div>
		<form class="form download" id="download_form" method="get" action="{% url 'senpai:show_note' note.id %}/download">
			<div class="button download" type="button"></div>
		</form>
	</div>

	<div class="content commentareaframe">
		<!-- include commentlist.html through get_comments -->
		<div class="commentsframe">
			{% get_comments note user %}
		</div>
		<div class="add_commentframe">
			<textarea class="component add_comment" id="txt_comment" rows="4" cols="50" placeholder="Input your idea..."></textarea>
			<div class="button add_comment" type="button" id="btn_add_comment"></div>
		</div>
	</div>
{% endblock %}