{% extends 'senpai/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Register
{% endblock %}

{% block body_block %}
	<h1>Register for Senpai</h1>
	{% if registered %}
		Senpai says: <strong>thank you for registering!</strong>
		<a href="{% url 'senpai:home' %}">Return to the homepage.</a><br />
	{% else %}
		Rango says: <strong>register here!</strong><br />
			<form id="user_form" method="post" action="{% url 'senpai:register' %}"
			enctype="multipart/form-data">
			{% csrf_token %}
			<!-- Display each form -->
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
            {{ user_form.errors }}
            {{ user_form.as_p }}
            {{ profile_form.errors }}
            {{ profile_form.as_p }}
			<!-- Provide a button to click to submit the form. -->
			<input type="submit" name="submit" value="Register" />
	</form>
	{% endif %}
{% endblock %}
