{% extends 'senpai/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Login & Register
{% endblock %}

{% block header_block %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
			crossorigin="anonymous"></script>
	<script src="{% static 'js/signinup_page.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/signinup_css.css' %}"/>
{% endblock %}

{% block navigation %}
<h2 class="navigation usertitle">Sign Up / Sign In</h2>
{% endblock %}

{% block body_block %}
<div class="panel">
    <div class="forms">
        <div class="delimeter"></div>
        <p class="delimeter">OR</p>
        <form id="login_form" method="post" action="{% url 'senpai:signinup' %}">
                {% csrf_token %}
                <p class="login username">Username</p>
                <input class="login component username" type="text" name="username" value=""/>
                <p class="login password">Password</p>
                <input class="login component password" type="password" name="password" value="" autocomplete="new-password"/>
                <label class="login button submit">
                    <input type="submit" value="submit" name="signin_form" />
                </label>
        </form>
        <form id="user_form" method="post" action="{% url 'senpai:signinup' %}"
            enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Display each form -->
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
            <p class="register username"> {{ user_form.username.label }}</p>
            {{ user_form.username }}
            <p class="register email">{{ user_form.email.label }}</p>
            {{ user_form.email }}
            <p class="register password">{{ user_form.password.label }}</p>
            {{ user_form.password }}
            <p class="register key">{{ profile_form.admin_key.label }}</p>
            {{ profile_form.admin_key }}
            <!-- Provide a button to click to submit the form. -->
            <label class="register button submit">
                <input type="submit" value="submit" name="signup_form" />
            </label>
        </form>
    </div>
    <div class="sign in">
        <div class="switch signin" type="button"></div>
        <p class="switch signin">Sign In</p>
    </div>
    <div class="sign up">
        <div class="switch signup" type="button"></div>
        <p class="switch signup">Sign Up</p>
    </div>
    <div class="errmsgs">
        {% if cust_errmsg != '' %}
            <ul>
                <li>{{ cust_errmsg }}</li>
            </ul>
        {% elif form_errmsg %}
            {{ form_errmsg }}
        {% endif %}
    </div>
</div>

{% endblock %}
