.navigation.component.homepage{
    width: calc(100% - 25vw - 96px);
    border-radius: 20px;
}

.navigation.component.search{
    left: calc(100% - 25vw - 84px);
    width: 25vw;
    background-position: 18px 18px;
    background-size: auto 36px;
    background-repeat: no-repeat;
    background-image: url("/static/img/search_icon.webp");
    border-radius: 20px;
}

.navigation.input.search{
    position: absolute;
    top: 18px;
    left: 72px;
    right: 18px;
    height: 36px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    text-align: center;
    font-size: 24px;
    color: white;
}

.navigation.input.search::-webkit-input-placeholder{
    color: white;
}
.navigation.input.search::-moz-placeholder{
    color: white;
}
.navigation.input.search:-ms-input-placeholder{
    color: white;
}

.navigation.input.search:focus::-webkit-input-placeholder{
    color: transparent;
}
.navigation.input.search:focus::-moz-placeholder{
    color: transparent;
}
.navigation.input.search:focus:-ms-input-placeholder{
    color: transparent;
}

.content.frame{
    overflow-y: scroll;
    overflow-x: hidden;
}

.content.welcome{
    position: relative;
    margin: 0;
    margin-top: 120px;
    margin-bottom: 24px;
    top: 0;
    left: 100px;
    font-size: 72px;
    color: white;
}

.content.links{
    position: relative;
    margin: 0;
    padding: 0;
}

.content.section{
    position: relative;
    margin: 0;
    padding: 0;
}

.content.other_modules.section, .content.search_result.section{
    margin-bottom: 48px;
}

h3{
    position: relative;
    margin: 0;
    margin-bottom: 36px;
    padding: 0;
    left: 100px;
    font-size: 36px;
    font-weight: normal;
    color: white;
}

.modules{
    position: relative;
    margin: 0;
    padding: 0;
    left: 100px;
    width: calc(100vw - 224px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

li.module{
    margin: 0;
    padding: 0;
    margin-bottom: 72px;
    width: 35vw;
    height: 240px;
    min-width: 412px;
    list-style: none;
}

div.module{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 35vw;
    height: 240px;
    min-width: 412px;
}

a.module, a.note{
    position: absolute;
    margin: 0;
    padding: 0;
    width: calc(35vw / 2 - 6px);
    min-width: 200px;
    overflow: hidden;
    border-radius: 6px;
    text-decoration: none;
}

a.module{
    left: 0;
    height: 240px;
}

h4, h5{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 12px;
    left: 12px;
    height: 240px;
    font-weight: normal;
    color: white;
}

h4{
    font-size: 36px;
}

h5{
    font-size: 18px;
}

a.note{
    right: 0;
    height: 72px;
}

a.note:nth-child(2){
    top: 0;
}

a.note:nth-child(3){
    top: 84px;
}

a.note:nth-child(4){
    top: 168px;
}

hr{
    position: relative;
    margin-bottom: 36px;
    width: 100vw;
}