.navigation.frame{
    position: fixed;
    margin: 0;
    padding: 0;
    top: 1%;
    left: 1%;
    width: 98%;
    height: 10%;
    background-color: rgba(255,255,255, 0.3);
    border: 1px solid rgba(255,255,255, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(10px) brightness(125%);
}