.navigation.component.homepage{
    width: 36vw;
    max-width: 360px;
    border-radius: 20px 10px 62px 20px;
}

h2{
    position: absolute;
    margin: 0;
    padding: 0;
    left: min(calc(36vw + 30px), 390px);
    width: calc(100% - 96px - min(calc(36vw + 30px), 390px));
    overflow: hidden;
    font-size: 48px;
    font-weight: normal;
    color: white;
    line-height: 72px;
    white-space: nowrap;
}

.moduleframe, .noteframe{
    position: absolute;
    margin: 0;
    padding-top: 120px;
    padding-bottom: 120px;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.moduleframe{
    left: 0;
    width: 36vw;
    max-width: 360px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 12px 0px;
}

.noteframe{
    left: min(calc(36vw + 30px), 390px);
    right: 0;
    z-index: -1;
}

.module.component{
    position: relative;
    margin: 0;
    padding: 0;
    width: calc(36vw - 24px);
    max-width: 336px;
    height: 60px;
    border-radius: 6px;
    overflow: hidden;
}

h4{
    position: absolute;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 24px;
    font-weight: normal;
    color: white;
}

h4.module, .note.component h4{
    top: 18px;
    left: 12px;
}

h4.module{
    white-space: nowrap;
}

h4.blank{
    padding-top: 60px;
    white-space: nowrap;
}

p{
    position: absolute;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    color: white;
}

.like.component p{
    width: 100%;
    text-align: center;
    white-space: nowrap;
    line-height: 36px;
}

.sort.component p{
    width: 100%;
    text-align: center;
    white-space: nowrap;
    line-height: 36px;
}

.note.component p{
    bottom: 14px;
    right: 12px;
    width: 100%;
    line-height: 24px;
    text-align: right;
    white-space: nowrap;
}

.like.component{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 120px;
    right: min(calc(24vw + 48px), 336px);
    width: 12vw;
    max-width: 144px;
    height: 36px;
    border-radius: 6px;
    cursor: pointer;
}

label.component{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 120px;
    right: min(calc(12vw + 36px), 180px);
    width: 12vw;
    max-width: 144px;
    height: 36px;
    background-position: center;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-image: url("/static/img/add_icon.webp");
    border-radius: 6px;
    cursor: pointer;
}

#upload_note{
    display: none;
}

.sort.component{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 120px;
    right: 24px;
    width: 12vw;
    max-width: 144px;
    height: 36px;
    border-radius: 6px;
    cursor: pointer;
}

.notes{
    position: absolute;
    margin: 0;
    padding: 0;
    padding-top: 60px;
    padding-bottom: 120px;
    top: 72px;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

li.note{
    margin: 36px;
    padding: 0;
    width: 32vw;
    max-width: 360px;
    height: 240px;
    list-style: none;
}

.note.component{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 32vw;
    max-width: 360px;
    height: 240px;
    overflow: hidden;
    border-radius: 6px;
    text-decoration: none;
}
