.likesframe{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.likes{
    position: absolute;
    margin: 0;
    padding: 0;
    padding-bottom: 144px;
    top: 192px;
    left: 84px;
    right: 108px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 144px 144px;
}

li.note{
    position: relative;
    margin: 0;
    padding: 0;
    height: 100px;
    list-style: none;
}

a.note{
    position: absolute;
    padding-left: 18px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 28px;
    text-decoration: none;
    border-radius: 6px;
    white-space: nowrap;
    line-height: 72px;
    font-size: 24px;
    font-weight: normal;
    color: white;
    white-space: nowrap;
}

p{
    position: absolute;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    color: white;
    white-space: nowrap;
}

.notedate{
    bottom: 0;
    left: 0;
    width: calc(100% - 24px);
}
.notedata{
    bottom: 0;
    right: 0;
    width: calc(100% - 24px);
    text-align: right;
}

h3{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 192px;
    left: 84px;
    font-size: 36px;
    font-weight: normal;
    color: white;
}