.navigation.component.homepage{
    width: 36vw;
    max-width: 360px;
    border-radius: 20px 10px 62px 20px;
}

.navigation.component.moduletitle{
    left: min(36vw, 360px);
    width: 36vw;
    border-radius: 62px 10px 62px 10px;
}

h2{
    position: absolute;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: normal;
    color: white;
    line-height: 72px;
    white-space: nowrap;
}

.moduletitle h2{
    left: 36px;
    font-size: 36px;
}

h2.notetitle{
    left: calc(min(36vw, 360px) + 36vw + 30px);
    width: calc(100% - 96px - calc(min(36vw, 360px) + 36vw + 30px));
    font-size: 48px;
}

.previewframe, .commentareaframe{
    position: absolute;
    margin: 0;
    padding: 0;
    top: max(15vh, 96px);
    width: calc(50% - 6px);
    max-width: 600px;
    bottom: 10vh;
}

.previewframe{
    left: max(0%, calc(25% - 300px));
}

.commentareaframe{
    left: max(calc(50% + 6px), calc(75% - 300px));
}

p{
    position: absolute;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    color: white;
}

.previewcreator{
    top: 0;
    left: 0;
    width: calc(50% - 6px);
    white-space: nowrap;
}

.previewdate{
    top: 0;
    right: 0;
    width: calc(50% - 6px);
    text-align: right;
    white-space: nowrap;
}

h3{
    position: absolute;
    margin: 0;
    padding: 0;
    padding-left: 18px;
    top: 28px;
    left: 0;
    right: 0;
    height: 48px;
    background-color: rgba(255,255,255, 0.3);
    border: 1px solid rgba(255,255,255, 0.3);
    border-radius: 6px;
    backdrop-filter: blur(60px) brightness(125%);
    overflow: hidden;
    font-weight: normal;
    line-height: 48px;
    font-size: 24px;
    color: white;
    white-space: nowrap;
}

.component.previewpdf{
    position: absolute;
    top: 88px;
    left: 0;
    height: max(0px, calc(100% - 148px));
    width: 100%;
    border-radius: 6px;
}

embed{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

embed:hover{
    opacity: 1;
}
.component.like{
    position: absolute;
    margin: 0;
    padding: 0;
    top: calc(88px + max(0px, calc(100% - 136px)));
    right: min(156px, calc(50% + 6px));
    width: calc(50% - 6px);
    max-width: 144px;
    height: 48px;
    border-radius: 6px;
    text-align: center;
    font-weight: normal;
    line-height: 48px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.button{
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: #00aa8d;
    border: 1px solid #88ffeb;
    border-radius: 6px;
    box-shadow: 0 0 12px 0 #88ffeb inset;
}

.button:hover{
    filter: brightness(125%);
}

.button.download{
    width: calc(50% - 6px);
    max-width: 144px;
    right: 0;
    top: calc(88px + max(0px, calc(100% - 136px)));
    height: 48px;
    background-position: center;
    background-size: 22px 24px;
    background-repeat: no-repeat;
    background-image: url("/static/img/download_icon.webp");
}

.commentsframe{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: max(calc(100% - 120px), 16px);
    overflow-y: scroll;
}

.comments{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: calc(100% - 24px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 12px 12px;
}

li.comment{
    margin: 0;
    padding: 0;
    height: 204px;
    list-style: none;
    background-color: rgba(255,255,255, 0.3);
    border: 1px solid rgba(255,255,255, 0.3);
    border-radius: 6px;
    backdrop-filter: blur(60px) brightness(125%);
}

.commentcreator{
    top: 12px;
    left: 12px;
    width: calc(100% - 24px);
    white-space: nowrap;
}

.commentdate{
    top: 28px;
    left: 12px;
    width: calc(100% - 24px);
    white-space: nowrap;
}

.commenttext{
    top: 56px;
    left: 12px;
    width: calc(100% - 24px);
    height: 136px;
    word-break: break-all;
}

h4{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 28px;
    font-size: 24px;
    font-weight: normal;
    color: white;
}

.add_commentframe{
    position: absolute;
    margin: 0;
    padding: 0;
    top: max(28px, calc(100% - 108px));
    left: 0;
    width: 100%;
    height: 108px;
    background-color: rgba(255,255,255, 0.3);
    border: 1px solid rgba(255,255,255, 0.3);
    border-radius: 6px;
    backdrop-filter: blur(60px) brightness(125%);
}

.component.add_comment{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 12px;
    left: 12px;
    width: calc(100% - 96px);
    height: 84px;
    border-radius: 6px;
    outline: none;
    resize: none;
    box-shadow: 6px 12px 24px 6px rgba(0, 0, 0, 0.3);
    font-family: Arial, Helvetica, "Microsoft Yahei", sans-serif;
    font-size: 18px;
    color: #3f3f3f;
    overflow-y: scroll;
}

.component.add_comment:focus{
    background-color: rgba(255,255,255, 0.5);
    backdrop-filter: blur(60px) brightness(175%);
}

.component.add_comment::-webkit-input-placeholder{
    color: #5e5e5e;
}
.component.add_comment::-moz-placeholder{
    color: #5e5e5e;
}
.component.add_comment:-ms-input-placeholder{
    color: #5e5e5e;
}

.component.add_comment:focus::-webkit-input-placeholder{
    color: transparent;
}
.component.add_comment:focus::-moz-placeholder{
    color: transparent;
}
.component.add_comment:focus:-ms-input-placeholder{
    color: transparent;
}

.button.add_comment{
    top: 12px;
    right: 12px;
    width: 60px;
    height: 84px;
    background-position: center;
    background-size: 24px 22px;
    background-repeat: no-repeat;
    background-image: url("/static/img/confirm_icon.webp");
}

.button.add_comment::after{
    position: absolute;
    content: "";
    margin: 0;
    padding: 0;
    width: 60px;
    height: 84px;
    border-radius: 6px;
    box-shadow: 6px 12px 24px 6px rgba(0, 0, 0, 0.3);
}